# Stability monitor
database.ini
__pycache__/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Some config file
*.in
*.m4
*.guess
*.sub
depcomp
install-sh
ltmain.sh
missing
.deps/
.libs/
autom4te.cache/
config.log
config.status
libtool
Makefile
configure

*~
*.root
*.log*
